---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Summary from "../components/Summary.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Education from "../components/Education.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Hero />
  <main id="main">
    <Summary />
    <Experience />
    <Projects />
    <Skills />
    <Education />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
