---
import { site } from "../data/site";
---

<section
  id="about"
  aria-labelledby="about-heading"
  class="mx-auto max-w-[1100px] scroll-mt-16 px-6 pb-16 sm:px-10 sm:pb-20"
>
  <h2 id="about-heading" class="sr-only">About</h2>
  <p class="about">{site.about}</p>
</section>

<style>
  .about {
    font-size: 18px;
    line-height: 1.65;
    color: var(--text);
    max-width: 64ch;
    border-left: 2px solid var(--primary);
    padding-left: 1.25rem;
    margin: 0;
  }
</style>
